$blue: #185adb;

/* TABLE */
.tr-customer {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 2fr;
}

/* HISTORY */
.customer-history {
  margin-top: 3rem;
  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: $blue;
    text-align: center;
  }
}
.tr-history {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.tbody-history {
  max-height: 12rem;
}