$blue: #185adb;
$yellow: #ffc947;

@mixin easeOut {
  transition: all .3s ease-out;
}

nav {
  position: fixed;
  top: 0;
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  height: 50px;
  margin: 0 auto 0 auto;
  padding: 0 2rem;
  justify-self: center;
  grid-template-columns: 2fr 3fr 1fr;

  a {
    color: #fff;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    justify-self: center;
    gap: 4rem;

    a {
      font-weight: bolder;

      &.active, &:hover {
        text-decoration: underline;
        text-decoration-color: $yellow;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
        @include easeOut;
      }
    }
  }

  div:first-of-type {
    font-size: 1.4rem;

    a {
      font-weight: bold;
      color: $yellow;
    }
  }

  div:last-of-type {
    margin-left: auto;
  }
}