$blue: #185adb;
$yellow: #ffc947;

@mixin easeOut {
  transition: all .3s ease-out;
}

nav {
  position: fixed;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: $blue;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  align-items: center;
  a {
    color: #fff;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    a {
      font-weight: bolder;
      &.active {
        text-decoration: underline;
      }
      &:hover {
        text-decoration: underline;
        @include easeOut;
      }
    }
  }
  div:first-of-type {
    font-size: 1.4rem;
    a {
      font-weight: bold;
      color: $yellow;
    }
  }
  div:last-of-type {
    margin-left: auto;
  }
}