.dropdown {
  position: relative;
  width: 100%;
  max-width: 12rem;

  .faChevronDown {
    position: absolute;
    z-index: -1;
    top: 12px;
    right: 12px;
  }

  select {
    width: 100%;
    padding-right: 1.8rem;
    cursor: pointer;
    background: transparent;
    appearance: none;
  }
}