.dropdown {
  width: 100%;
  max-width: 12rem;
  position: relative;
  .faChevronDown {
    z-index: -1;
    position: absolute;
    right: 12px;
    top: 12px;
  }
  select {
    background: transparent;
    appearance: none;
    cursor: pointer;
    width: 100%;
    padding-right: 1.8rem;
  }
}