$blue: #185adb;
$red: #d3232b;

/* TABLES */
table {
  width: 100%;
}

td, th, tr {
  padding: 0.3rem 0.5rem;
}

th {
  font-size: 1.1rem;
}

tbody {
  overflow-y: scroll;
  max-height: 35rem;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.clickable {
  margin: 5px 0;
  border: 1px solid $blue;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);

  &.pending {
    border-color: $red;
  }

  &:hover {
    cursor: pointer;
    color: white;
    border-color: #000;
    background: $blue;
  }
}

.tr-customers, .tr-jobs, .tr-inventory {
  display: grid;

  th, td {
    text-align: center;
  }
}

.tr-jobs {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;

  th, td {
    &:nth-of-type(2), &:nth-of-type(3) {
      text-align: left;
    }
  }
}

.tr-customers {
  grid-template-columns: 2fr 3fr 1fr 1fr;

  th, td {
    &:nth-of-type(1), &:nth-of-type(2) {
      text-align: left;
    }
  }
}


.tr-inventory {
  grid-template-columns: 1fr 5fr 1fr 1fr;

  th, td {
    &:nth-of-type(1), &:nth-of-type(2) {
      text-align: left;
    }
  }

  .stock-buttons {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 20%);
    gap: 1rem;

    div {
      font-size: 1rem;
      width: 1.5rem;
      padding: 2px;
      border: 1px solid black;
      border-radius: 50%;
    }
  }
}

//.inventory tr {
//  background: white;
//  border-radius: 5px;
//  margin: 5px 0;
//  border: 1px solid $blue;
//  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
//}
//
//.quantity {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.quantity:hover {
//  cursor: pointer;
//  background-color: $blue;
//  color: white;
//}
//
//.edit:hover {
//  cursor: pointer;
//  path {
//    fill: $blue;
//  }
//}