$blue: #185adb;

/* TABLES */
table {
  width: 100%;
}

td, th {
  padding: 0.3rem;
  width: 100%;
  text-align: left;
}

th {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

thead, tbody {
  display: flex;
  flex-flow: column;
  width: 100%;
}

tbody {
  max-height: 35rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.clickable {
  background: white;
  border-radius: 5px;
  margin: 5px 0;
  border: 1px solid $blue;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
  &:hover {
    cursor: pointer;
    background: $blue;
    color: white;
  }
}

.tr-customer, .th-customer {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 2fr;
}