* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

main {
  margin-top: 50px;
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
