$blue: #185adb;

.searchbar {
  position: relative;
  display: flex;

  div {
    align-self: center;
    margin-left: 0.8rem;
    color: $blue;

    &:hover {
      cursor: pointer;
    }
  }
}

.faSearch {
  position: absolute;
  top: 12px;
  left: 10px;
}

.search {
  font-size: 1rem;
  min-width: 22rem;
  padding: 0.6rem 0.5rem 0.5rem 2.2rem;
}