$blue: #185adb;
$red: #d3232b;

form {
  label {
    font-weight: 600;
    display: flex;
    flex-flow: column;
    gap: 0.2rem;

    .checkbox {
      align-self: center;
      width: 1.5rem;
      height: 1.5rem;
      margin-top: 8px;
    }

    & > .dropdown, input {
      width: 11rem;
    }
  }

  textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0.6rem;
  }

  .customer-area {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 40% 55%;
    gap: 2rem;

    label {
      display: flex;
      flex-flow: column;
      gap: 0.2rem;
    }

    input {
      width: 100%;
    }

    .address {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      & > div {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 60% 10% 28%;
      }
    }
  }

  .button-area {
    display: flex;
    gap: 1rem;

    .btn-form {
      font-size: 1.2rem;
      font-weight: 700;
      width: 6rem;
      height: 2.5rem;
      color: white;
      border: none;
      border-radius: 5px;
      background: $blue;

      &:hover {
        cursor: pointer;
      }
    }

    .delete {
      margin-left: auto;

      &:hover {
        background: $red;
      }
    }
  }
}