#form {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.job-area {
  display: flex;
  justify-content: space-between;
}

.invoiceInput {
  position: relative;
  .faHashtag {
    position: absolute;
    top: 11px;
    left: 9px;
  }
  input {
    appearance: none;
    padding-left: 30px;
  }
}

.dollarInput {
  position: relative;
  .faDollarSign {
    position: absolute;
    top: 11px;
    left: 11px;
  }
  input {
    padding-left: 25px;
  }
}

.notes-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  label {
    display: flex;
    flex-flow: column;
    gap: 0.2rem;
  }
  textarea {
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 5rem;
  }
}

.part-area {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 2rem;
  label {
    width: 100%;
    &:nth-of-type(1), &:nth-of-type(3) {
      text-align: center;
    }
    input {
      width: 100%;
    }
  }
}