$blue: #185adb;
$red: #d3232b;

@mixin easeOut {
  transition: all .3s ease-out;
}

.card-auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  background: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  gap: 2.5rem;
}

.card-header {
  text-align: center;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  span {
    color: $blue;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      @include easeOut;
    }
  }
}

.card-form {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 1rem;

  label {
    font-weight: bolder;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
  }

  input {
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  button {
    font-size: 1.2rem;
    width: max-content;
    margin: 1rem auto;
    padding: 1rem 2rem;
    color: #fff;
    border: 0.5px solid lightgrey;
    border-radius: 0.5rem;
    background-color: $blue;

    &:hover {
      cursor: pointer;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
      @include easeOut;
    }
  }

  #invalid {
    display: none;
    text-align: center;
    color: $red;

    &.error {
      display: block;
    }
  }

  .error {
    color: $red;
    border-color: $red;
    outline: $red;
  }
}

.card-footer {
  color: $red;

  p:hover {
    cursor: pointer;
    text-decoration: underline;
    @include easeOut;
  }
}